.list {

  font-size: 3em;
  text-transform: uppercase; 
  letter-spacing: 0.1em;
  font-size: 3em;
  font-weight: bold;
  font-family: "Futura", sans-serif;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  }
  
  .title {
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .item {
    margin-top: 10px;
    font-size: 20px;
    display: block;
  
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  
  .link {
    display: inline-block;
    color: rgb(161, 156, 156);
  
    &:hover,
    :focus {
      color: #f54444;
    }
  }