.list {
    padding: 5;
  }
  
  .title {
    margin-bottom: 25px;
  }
  
  .item {
    display: block;
  
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  
  .link {
    color: #331aee;
  
    &:hover,
    :focus {
      color: #f54444;
    }
  }