.container {
    margin-bottom: 10px;
}
.link{
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
    background-color: #f2c555;
    font-size: 14px;
    color: #054f9d;

    border-radius: 50px;
    border: 1px solid #ed8080;
    
    &:hover,
    :focus {
        color: #1f1f1e;
        background-color: #ed8484;
    }
}