.container{
  display: flex;
  align-items: center;
  background-color: rgb(197, 243, 151);
  width: 1200px;
  height: 70px;
  padding: 0 40px;
  margin: 0 auto;
  box-shadow: 0px 4px 36px -21px rgba(0, 0, 0, 0.75);
  border-radius: 50px;

}

.title {
    margin-bottom: 20px;
  }
  
  .item {
    display: block;
  
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  
  .link {
    cursor: pointer;
    color: #888888;
  
    &:hover,
    :focus {
      color: #000000;
    }
  }